#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content=
"width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="WeatherStation">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<title>Forecast for $station.location</title>
</head>
<body>
<div class="container">
<h3>$station.location Forecast</h3>
#if $varExists('forecast.zambretti')
<h5> Zambretti: $forecast.label('Zambretti', $forecast.zambretti.code)</h5>
<br />
#end if


#if $varExists('forecast')

#import time
#set $t0 = time.time()

## Which forecast should be displayed?
#set $forecast_source = 'NWS'

## How many days should be considered? This skin is built around 4.
#set $num_days = 4
#set $local_settings = dict()

## Set the $forecast_source from skin.conf
#set $forecast_source = $Extras.forecast_source

## pre-calculate the periods
#set $num_periods = $num_days * 24
#set $periods = $forecast.weather_periods($forecast_source, max_events=$num_periods)

#if len($periods)
#set $start_ts = $t0

<div class='row'>
#for $d in range($num_days)
#set $summary = $forecast.weather_summary($forecast_source, $start_ts + $d * 24*3600, periods=$periods)
<div class='col'>
<h3>$summary.event_ts.format('%A')</h3><br />
#if $summary.precip
#set $wxgfx = 'icons/' + $summary.precip[0] + '.svg'
<img src="$wxgfx" class="img-fluid" height="256" width="256" alt='$summary.precip' title='$forecast.label("Weather", $summary.precip[0])'>
#elif $summary.obvis
#set $wxgfx = 'icons/' + $summary.obvis[0] + '.svg'
<img src="$wxgfx" class="img-fluid" height="256" width="256" alt='$summary.obvis' title='$forecast.label("Weather", $summary.obvis[0])'>
#elif $summary.clouds
#set $wxgfx = 'icons/' + $summary.clouds + '.svg'
<img src="$wxgfx" class="img-fluid" height="256" width="256" alt='$summary.clouds' title='$forecast.label("Weather", $summary.clouds)'>
#end if
Hi: $summary.tempMax.nolabel('%.0f')<br />
Low: $summary.tempMin.nolabel('%.0f')<br />
<br />
<br />
<br />
</div>
#end for
</div>

#else

<p>No forecast data for $forecast_source</p>

#end if

#else

<p>Forecast search list extension is not installed</p>

#end if


    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Current</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="week.html">Week</a>
          </li>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="https://getbootstrap.com" id="month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Month</a>
            <div class="dropdown-menu" aria-labelledby="month">
#for $monthYear in $SummaryByMonth
#set $myhtml = str($monthYear) + str(".html")
              <a class="dropdown-item" href="$myhtml">$monthYear</a>
#end for
            </div>
          </li>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="https://getbootstrap.com" id="year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</a>
            <div class="dropdown-menu" aria-labelledby="year">
#for $yr in $SummaryByYear
#set $myhtml = str($yr) + str(".html")
              <a class="dropdown-item" href="$myhtml">$yr</a>
#end for
            </div>
          </li>
#if $varExists('forecast')
          <li class="nav-item">
            <a class="nav-link" href="forecast.html">Forecast</a>
          </li>
#end if
#if $varExists('$Extras.wu_url')
          <li class="nav-item">
            <a class="nav-link" href="$Extras.wu_url">Wunderground</a>
          </li>
#end if
        </ul>
        <span class="navbar-text">
        <a href="http://www.weewx.com/">Weewx</a> $station.version</span>
      </div>
    </nav>
</div><!-- End of container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>
